<h1><%= @product.name %>: $ <%= @product.formatted_price %></h1>
<p><%= @product.description %></p>

<%= link_to 'Back', products_path %>
<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Delete', @product, method: :delete %>
